
.logo {
    height: 40px;
}


#prueba {
    background-color: rgb(39, 39, 146);
    height: 500px;
    width: auto;
}

.logo-home{
    height: 100px;
}

.gradiente {
    background-image: linear-gradient(to right, red , yellow , white);
    }
    